.nextrip-tab.active {
    background-color: #0097d0 !important;
    color: #fff !important;
}

.nextrip-tab {
    background-color: #dbf4fd;
    color: #047db5;
    padding: 0.75rem 1.75rem;
    font-size: 18px !important;
    font-size: 1.125rem !important;
    font-weight: 510;
    position: relative;
}

.nextrip-tab.active::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid #0097d0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    left: 45%;
    bottom: -7px;
}